.mainContainer{
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}
h1{
  color: ghostwhite;
  font-family:Impact, Charcoal, sans-serif;
}
a{
  color:ghostwhite;
  font-size: x-large;
  margin-left: 11px;
  padding: 10px;
  font-family:Impact, Charcoal, sans-serif;
}
section{
  background-color: red;
  margin-top: 2%;
  height: 80%;
  width: 50%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2{
  color: ghostwhite;
  font-family:Impact, Charcoal, sans-serif;
}
p{
  color: ghostwhite;
  font-family:Impact, Charcoal, sans-serif;
  padding: 10px;
  opacity: 0;
  transition: ease 2s;
}
iframe{
  border-radius: 20px;
  padding: 15px;
  animation-name: moveIn;
  animation-duration: 1.5s;
}
section:hover p{
  opacity: 1;
}
@keyframes moveIn{
  0%{margin-bottom:2000px}
  100%{margin-bottom: 0px;}
}